/*

*/

.version.about /* version checker */
{
	color: #000009;
	background-color: #536F41;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 2614.999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -36px;
	width: 0.01px;
}

#u285
{
	z-index: 252;
	height: 62px;
	background-color: #110F16;
	position: fixed;
	top: 0px;
}

#u285-bw
{
	z-index: 252;
}

#u284
{
	z-index: 3;
	height: 62px;
}

.ie #u284
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u284-bw
{
	z-index: 3;
	height: 62px;
}

#pu286
{
	width: 0.01px;
	padding-bottom: 62px;
	margin-left: 61px;
	margin-top: -62px;
}

#u286
{
	z-index: 253;
	width: 275px;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: -579px;
}

#u288-4
{
	z-index: 255;
	width: 100px;
	min-height: 62px;
	background-color: transparent;
	line-height: 61px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -196px;
}

#u288-4:hover
{
	background-color: #D11919;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 100px;
	margin: 0px 0px 0px -196px;
}

#u289-4
{
	z-index: 259;
	width: 108px;
	min-height: 62px;
	background-color: transparent;
	line-height: 61px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -96px;
}

#u290-4
{
	z-index: 263;
	width: 186px;
	min-height: 62px;
	background-color: transparent;
	line-height: 61px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 12px;
}

#u290-4:hover
{
	background-color: #D11919;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 186px;
	margin: 0px 0px 0px 12px;
}

#u291-4
{
	z-index: 267;
	width: 140px;
	min-height: 62px;
	background-color: transparent;
	line-height: 61px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 198px;
}

#u291-4:hover
{
	background-color: #D11919;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 140px;
	margin: 0px 0px 0px 198px;
}

#u377-4
{
	z-index: 271;
	width: 130px;
	min-height: 62px;
	background-color: transparent;
	line-height: 61px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 338px;
}

#u377-4:hover
{
	background-color: #D11919;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 130px;
	margin: 0px 0px 0px 338px;
}

#u292-4
{
	z-index: 275;
	width: 111px;
	min-height: 62px;
	line-height: 61px;
	color: #FFFFFF;
	font-size: 17px;
	text-align: left;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 468px;
	background: transparent url("../images/steam.png") no-repeat left center;
}

#u292-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	width: 111px;
	margin: 0px 0px 0px 468px;
	background: #D11919 url("../images/steam.png") no-repeat left center;
}

#u276
{
	z-index: 2;
	min-height: 137px;
	padding-bottom: 851px;
	background: transparent url("../images/bg-site.jpg") no-repeat center top;
}

#u294-4
{
	z-index: 4;
	width: 426px;
	min-height: 75px;
	background-color: transparent;
	line-height: 70px;
	color: #FFFFFF;
	font-size: 58px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 527px;
}

#u276-bw
{
	z-index: 2;
	min-height: 137px;
}

#u295
{
	z-index: 8;
	min-height: 1487px;
	background-color: #110F16;
	padding-bottom: 26px;
}

#u276_align_to_page,#u295_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u296
{
	z-index: 9;
	width: 686px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -823px;
	left: 397px;
}

#u296_position_content
{
	padding-bottom: 37px;
}

#u297
{
	z-index: 10;
	width: 686px;
	background-color: #D11919;
	padding-bottom: 16px;
	position: relative;
}

#u298-4
{
	z-index: 11;
	width: 156px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 25px;
}

#u300-4
{
	z-index: 15;
	width: 640px;
	min-height: 23px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 35px;
	position: relative;
}

#u301-9
{
	z-index: 115;
	width: 640px;
	min-height: 137px;
	background-color: transparent;
	color: #232323;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 23px;
	position: relative;
}

#u301-2
{
	font-size: 18px;
	line-height: 22px;
}

#u301-3,#u301-5,#u301-7
{
	font-size: 15px;
	line-height: 18px;
}

#u306-4
{
	z-index: 124;
	width: 640px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #232323;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 24px;
	position: relative;
}

#pu311-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 23px;
}

#u311-4
{
	z-index: 136;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u307-4
{
	z-index: 19;
	width: 597px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 43px;
}

#u312-4
{
	z-index: 144;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u308-4
{
	z-index: 23;
	width: 597px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 43px;
}

#pu312-4,#pu313-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 15px;
}

#u313-4
{
	z-index: 152;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u309-8
{
	z-index: 27;
	width: 597px;
	min-height: 77px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 43px;
}

#u315
{
	z-index: 224;
	width: 632px;
	border-width: 3px;
	border-style: solid;
	border-color: #D11919;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 51px;
	position: relative;
}

#u315_position_content
{
	margin-top: -17px;
	padding-bottom: 19px;
}

#u314-4
{
	z-index: 225;
	width: 221px;
	min-height: 36px;
	background-color: #FFFFFF;
	line-height: 29px;
	color: #D11919;
	font-size: 24px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 205px;
	position: relative;
}

#u316-6
{
	z-index: 229;
	width: 623px;
	min-height: 51px;
	background-color: transparent;
	color: #232323;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 14px;
	position: relative;
}

#u316-2
{
	font-size: 16px;
	line-height: 24px;
}

#u316-4
{
	line-height: 21px;
}

#u318-4
{
	z-index: 128;
	width: 640px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #232323;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 35px;
	position: relative;
}

#u340-4
{
	z-index: 140;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u319-4
{
	z-index: 35;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u341-4
{
	z-index: 148;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u320-4
{
	z-index: 51;
	width: 597px;
	min-height: 22px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 43px;
}

#u342-4
{
	z-index: 156;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u321-4
{
	z-index: 67;
	width: 597px;
	min-height: 57px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u343-4
{
	z-index: 160;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u323-6
{
	z-index: 83;
	width: 597px;
	min-height: 40px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u344-4
{
	z-index: 164;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u328-4
{
	z-index: 39;
	width: 597px;
	min-height: 22px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 43px;
}

#u345-4
{
	z-index: 168;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u327-4
{
	z-index: 55;
	width: 597px;
	min-height: 38px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u346-4
{
	z-index: 172;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u326-4
{
	z-index: 71;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u347-4
{
	z-index: 176;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u325-4
{
	z-index: 89;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u348-4
{
	z-index: 180;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	line-height: 31px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u333-4
{
	z-index: 43;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u349-4
{
	z-index: 184;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u332-4
{
	z-index: 59;
	width: 597px;
	min-height: 22px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 43px;
}

#pu340-4,#pu342-4,#pu345-4,#pu350-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 26px;
}

#u350-4
{
	z-index: 188;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u331-4
{
	z-index: 75;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u351-4
{
	z-index: 192;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u330-6
{
	z-index: 93;
	width: 597px;
	min-height: 38px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u352-4
{
	z-index: 196;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u334-4
{
	z-index: 47;
	width: 597px;
	min-height: 38px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u353-4
{
	z-index: 200;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u335-4
{
	z-index: 63;
	width: 597px;
	min-height: 38px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u354-4
{
	z-index: 204;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u336-4
{
	z-index: 79;
	width: 597px;
	min-height: 38px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#pu343-4,#pu346-4,#pu347-4,#pu348-4,#pu351-4,#pu352-4,#pu353-4,#pu354-4,#pu355-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 30px;
}

#u355-4
{
	z-index: 208;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u337-4
{
	z-index: 99;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#pu356-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 29px;
}

#u356-4
{
	z-index: 216;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: -1px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u338-4
{
	z-index: 107;
	width: 597px;
	min-height: 56px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u363-4
{
	z-index: 132;
	width: 640px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #232323;
	font-size: 18px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	margin-left: 25px;
	margin-top: 38px;
	position: relative;
}

#pu361-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 24px;
}

#u361-4
{
	z-index: 212;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u362-4
{
	z-index: 103;
	width: 597px;
	min-height: 37px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#pu341-4,#pu344-4,#pu349-4,#pu360-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 25px;
}

#u360-4
{
	z-index: 220;
	width: 31px;
	min-height: 31px;
	background-color: #D11919;
	border-radius: 150000px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 31px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u359-4
{
	z-index: 111;
	width: 597px;
	min-height: 22px;
	background-color: transparent;
	line-height: 18px;
	color: #232323;
	font-size: 15px;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 43px;
}

#u367-4
{
	z-index: 235;
	width: 474px;
	min-height: 50px;
	background-color: #D11919;
	line-height: 44px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	margin-left: 106px;
	margin-top: 41px;
	position: relative;
}

#u367-4:hover
{
	background-color: #DC2019;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 474px;
	margin: 41px 0px 0px 106px;
}

#u367-4:hover p
{
	font-size: 18px;
}

#u295-bw
{
	z-index: 8;
	min-height: 1487px;
}

#u368
{
	z-index: 239;
	min-height: 70px;
	background-color: #110F16;
	padding-bottom: 45px;
}

#u368_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
	margin-bottom: -17px;
}

#u370-4
{
	z-index: 244;
	width: 297px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 140px;
}

#u369-4
{
	z-index: 240;
	width: 523px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 479px;
}

#u371-4
{
	z-index: 248;
	width: 235px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: right;
	font-family: '__Russo One_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 1105px;
}

#u368-bw
{
	z-index: 239;
	min-height: 70px;
	margin-top: -17px;
}

@font-face
{
	font-family: '__Russo One_5';
	src: url('../fonts/russo_one.eot');
	src: local('☺'), url('../fonts/russo_one.woff') format('woff'), url('../fonts/russo_one.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

