#u288-4
{
	font-family: '__Russo One_5';
}

#u289-4,#u290-4
{
	font-family: '__Russo One_5';
}

#u291-4
{
	font-family: '__Russo One_5';
}

#u377-4
{
	font-family: '__Russo One_5';
}

#u292-4
{
	font-family: '__Russo One_5';
}

#u298-4,#u300-4,#u301-9,#u306-4,#u311-4,#u307-4,#u312-4,#u308-4,#u313-4,#u309-8,#u314-4,#u316-6,#u318-4,#u340-4,#u319-4,#u341-4,#u320-4,#u342-4,#u321-4,#u343-4,#u323-6,#u344-4,#u328-4,#u345-4,#u327-4,#u346-4,#u326-4,#u347-4,#u325-4,#u348-4,#u333-4,#u349-4,#u332-4,#u350-4,#u331-4,#u351-4,#u330-6,#u352-4,#u334-4,#u353-4,#u335-4,#u354-4,#u336-4,#u355-4,#u337-4,#u356-4,#u338-4,#u363-4,#u361-4,#u362-4,#u360-4,#u359-4,#u367-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u294-4,#u370-4,#u369-4,#u371-4
{
	font-family: '__Russo One_5';
}

